html {
	scroll-behavior: smooth;
}
body {
	background: url(../img/background--1200.jpg);
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}
.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header__h1,
.header__h2 {
	color: #ecf0f1;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}
.--secondh2 {
	margin-top: -10px;
}
.button {
	font-size: 30px;
	color: #ecf0f1;
	animation: upanddown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes upanddown {
	0% {transform: translateY(0px);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(0px);}
}
.con-container {
	height: 80vh;
	padding-top: 20px;
}
.projects-intro {
	text-align: center;
	color: #ecf0f1;
}
.container {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(8,1fr);
	justify-content: center;
}
.card {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(236, 240, 241, 0.75);
	border-radius: 5px;
	padding: 10px 0 20px 0;
	text-decoration: none;
	transition: .4s ease all;
}
.card:hover {
	background-color: #ecf0f1;
	transform: scale(1.03);
}
.card__title {
	margin: 3px;
	text-align: center;
	font-weight: bold;
	color: #2c3e50;
}
.card__subtitle {
	width: 90%;
	text-align: center;
	padding-bottom: 5px;
	margin: 3px auto;
	font-size: 14px;
	color: #2c3e50;
}
.card__img {
	width: 90%;
}
.footer {
	bottom: 0;
	width: 100%;
	border-top: solid 2px #ecf0f1;
	color: #ecf0f1;
	text-align: center;
	padding: 5px 0;
}
.footer__text {
	font-size: 17px;
}
@media screen and (min-width: 700px) {
	.card {
	max-width: 300px;
}
}
@media screen and (max-width: 700px) {
	.card {
		grid-column: span 4;
	}
}
@media screen and (max-width: 375px) {
	.card {
		grid-column: span 8;
	}
}
